body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.body-books {
    margin: 0;
    padding: 0;
}

.top-nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    height: 45px;
    position: fixed;
    z-index: 13;
    top: 0;
    left: 0;
    margin: 0;
}

.subheader {
    margin: 0;
    padding: 0;
    display: grid;
    top: 25px;
    height: 45px;
    max-width: 1500px;
    grid-template-columns: 200px 200px 200px auto;
    position: fixed;
    z-index: 12;
    column-gap: 5px;
    left: 0;
    justify-content: center;
}

.currentType {
    height: 45px;
    top: 0;
    margin: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}


.type2 {
    height: 30px;
    top: 0;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.type3 {
    height: 25px;
    top: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main {
    margin-top: 55px;
    padding: 0;
    display: grid;
    width: 100vw;
    grid-template-columns: 250px 20% auto;
    grid-template-rows: 55px 30vh 30vh;
    position: fixed;
}

.focusedReviewListColumn {
    grid-row-start: 1;
    float: left;
    width: 20em;
    height: 70%;
    margin-left: 20px;
    margin-top: 25px;
    position: fixed;
    border-style: solid;
    padding-top: 60px;
    padding-left: 10px;
    z-index: 1;
}

.reviewListColumnItems a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, 0.5);
}

.reviewBox {
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 10;
    position: relative;
    z-index: 3;
    height: 100vh;
    width: 100vw;
}

.mediaTitleHeader {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-top: 5px;
    position: relative;
    z-index: 31;

}

.review-image {
    width: 100%;
    padding: 20px;
    margin: 10px;
    object-fit: contain;
}

img {
    max-width: 600px;
    max-height: 600px;
}

.TextWrap {
    float: left;
    margin: 10px;
}

.WrappedText {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 1.2rem;
    width: 60%;
}


.review-content {
    grid-column-start: 2;
    grid-row-start: 1;
    border-style: solid;

}

.leftDecorativeBoxOutline {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 100vh;
    height: 100vh;
    margin-left: 50px;
    margin-top: 10px;
}

.leftDecorativeBoxOutline2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 100vw;
    height: 100vh;
    margin-left: 150px;
    margin-top: 100px;
}

.rightBoxOutline {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 10;
    margin-left: 40%;
    margin-top: 8px;
    width: 100%;
}

.decorativeBackGroundImage {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-left: 8vw;
    margin-top: 15vh;
    max-width: 50vw;
    max-height: 40vh;
    border-style: double;
    border-width: 10px;
    z-index: 29;
}

.decorativeOverlayImage1 {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-left: 30vw;
    /*margin-top: 5vh;*/
    -webkit-transform: scale(1.5);
    /*transform: scaleY(1.5);*/
    position: relative;
    z-index: 30;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
    align-items: center;
}

.footlinks a {
    margin-left: 20px;
    padding: 10px;
}


/*BOOKS */
.container-books {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.body-books {
    margin: 0;
    padding: 0;
}

.top-nav-books {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    height: 45px;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    margin: 0;
}

.subheader-books {
    margin: 0;
    display: grid;
    top: 25px;
    height: 45px;
    max-width: 1500px;
    grid-template-columns: 200px 200px 200px auto;
    position: fixed;
    z-index: 12;
    column-gap: 5px;
    left: 0;
    /*justify-content: center;*/
}

.currentType-books {
    height: 45px;
    top: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-1deg);
    z-index: 9;
}


.type2-books {
    height: 30px;
    /*top: 0;*/
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(2deg);
    z-index: 13;
}

.type3-books {
    height: 25px;
    /*top: 0;*/
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-3deg);
    z-index: 13;
}

main-books {
    margin-top: 55px;
    padding: 0;
    display: grid;
    width: 100vw;
    grid-template-columns: 250px 20% auto;
    grid-template-rows: 55px 30vh 30vh;
    position: fixed;
}

.focusedReviewListColumn-books {
    grid-row-start: 1;
    float: left;
    width: 20em;
    height: 70%;
    margin-left: 20px;
    margin-top: 25px;
    position: fixed;
    padding-top: 60px;
    padding-left: 10px;
    z-index: 1;
}

.reviewListColumnItems-books a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    padding-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.reviewBox-books {
    grid-row-start: 2;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 10;
    position: relative;
    z-index: 3;
    height: 100vh;
    width: 100vw;
}

.mediaTitleHeader-books {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    justify-content: center;
    align-content: center;
    position: relative;
    transform: rotate(4deg);
    z-index: 30;

}

.review-image-books {
    width: 100%;
    padding: 20px;
    margin: 10px;
    object-fit: contain;
}

img {
    max-width: 600px;
    max-height: 600px;
}

.TextWrap-books {
    float: left;
    margin: 10px;
    margin-right: 30px;
    transform: rotate(2deg);
}

.WrappedText-books {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 40px;
    font-size: 1.2rem;
    width: 60%;
}


.review-content-books {
    grid-column-start: 2;
    grid-row-start: 1;
    border-style: solid;

}

.decorativeBackGroundImage-books {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-left: 8vw;
    margin-top: 5vh;
    size: 100vw;
    max-width: 70vw;
    max-height: 70vh;
}

.decorativeOverlayImage1-books {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-left: 30vw;
    /*margin-top: 5vh;*/
    -webkit-transform: scale(1.5);
    /*transform: scaleY(1.5);*/
    position: relative;
    z-index: 30;
}

.decorativeBackGroundImage2-books{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-left: 55vw;
    margin-top: 15vh;
    size: 100vw;
    transform: rotate(10deg);
    position: relative;
    z-index: 51;
}
.footer-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
    z-index:12;
    align-items: center;
}

.footlinks-books a {
    margin-left: 20px;
    padding: 10px;
}
