<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
    <title>BClayWalsh Book Reviews</title>
</head>
<body class="body-books">
<div class="container-books">
    <header class="header-books">
        <nav class="top-nav-books">
            <h1><a href="/index.html">BClayWalsh Reviews: </a></h1>
        </nav>
        <div class="subheader-books">
            <h2><a class="currentType-books" href="/bookReviews">Books</a></h2>
            <h3><a class="type2-books" href="/movieReviews">Movies</a></h3>
            <h3><a class="type3-books" href="/gameReviews">Games</a></h3>
        </div>
    </header>
    <main>
        <div class="focusedReviewListColumn-books">
            <div class="reviewListColumnItems-books" th:each="bookReview: ${bookReviews}">
                <a
                        th:href="@{'/bookReviews/'+${bookReview.name}}"
                        th:text="${bookReview.name}"
                ></a>
            </div>
        </div>
        <img class="decorativeBackGroundImage-books" src="images/openbook.png" alt="An open book">
        <img class="decorativeBackGroundImage2-books" src="images/Rapture Cover3.jpg" alt="The book of rapture">

    </main>
    <footer class="footer-books">
        <nav class="footlinks-books">
            <a href="mailto:bclaywalsh@gmail.com"
            >email me: bclaywalsh@gmail.com</a
            >
            <a href="http://www.linkedin.com/in/benjamin-walsh-46899445"
            >linkedIn</a
            >
            <a href="https://github.com/bclaywalsh">GitHub</a>
            <a href="http://bclaywalsh.wixsite.com/portfolio">art portfolio</a>
            <a href="mailto:DerelictStar01@gmail.com"
            >email Derelict Star: derelictstar01@gmail.com</a
            >
        </nav>
    </footer>
</div>
</body>
</html>
