<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
    <title>BClayWalsh Reviews</title>
</head>
<body class="body">
<div class="container">
    <header>
        <nav class="top-nav">
            <h1><a href="/index.html">BClayWalsh Reviews: Games</a></h1>
        </nav>
        <div class="subheader">
            <h2 class="currentType">Indie Games</h2>
            <h3><a class="type2" href="/movieReviews">Movies</a></h3>
            <h3><a class="type3" href="/bookReviews">Books</a></h3>
        </div>
    </header>
    <main>
        <div class="focusedReviewListColumn">
            <div class="reviewListColumnItems" th:each="gameReview: ${gameReviews}">
                <a
                        th:href="@{'/gameReviews/'+${gameReview.name}}"
                        th:text="${gameReview.name}"
                ></a>
            </div>
            <div class="leftDecorativeBoxOutline"></div>
        </div>
        <div class="rightBoxOutline"></div>
        <div class="leftDecorativeBoxOutline2"></div>
        <img class="decorativeBackGroundImage" src="images/ADream.jpg" alt="A panorama of a galaxy with overlaid text">
        <img class="decorativeOverlayImage1" src="images/BIGAngelaBack.png"
             alt="An armored robotic-looking space suit overlooks the scene">
    </main>
    <footer class="footer">
        <nav class="footlinks">
            <a href="mailto:bclaywalsh@gmail.com"
            >email me: bclaywalsh@gmail.com</a
            >
            <a href="http://www.linkedin.com/in/benjamin-walsh-46899445"
            >linkedIn</a
            >
            <a href="https://github.com/bclaywalsh">GitHub</a>
            <a href="http://bclaywalsh.wixsite.com/portfolio">art portfolio</a>
            <a href="mailto:DerelictStar01@gmail.com"
            >email Derelict Star: derelictstar01@gmail.com</a
            >
        </nav>
    </footer>
</div>
</body>
</html>
